@use "../../styles/partials/variables.scss" as *;

.code-editor {
    display: flex;
    min-height: calc(100vh);
}

.iframe {
    width: 50%;
    border: 2px solid $primary-color;
    border-radius: 8px;
}

.react-codemirror2 {
    width: 50%;
}

.CodeMirror {
    height: 100%;
}